* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	margin: 0;
}
h1 {
	text-align: center;
	font-size: 5em;
	color: teal;
	margin: 0 auto;
}
.containerBoard {
	border-radius: 50px;
	background-color: #00e3d0;
	padding: 50px 0;
	width: 70vw;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}



.gameContainer {
	display: grid;
	grid-gap: 20px;
}
.gameInfoContainer {
	font-size: 1.5em;
	color: white;
	display: flex;
	justify-content: space-around;
}
.cardsContainer {
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-gap: 10px;
	justify-content: center;
}



.card {
	position: relative;
	border-radius: 10px;
	box-shadow: inset 0px 0px 0px 1.5px #FFC000;
	background-color: #002F93;
	height: 155px;
	width: 111px;
}



.cardFace {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	backface-visibility: hidden;
	justify-content: center;
}
.cardFront {
	transform: rotateX(180deg);
}


.cube {
	position: absolute;
	height: 70px;
	top: 26%;
	left: 23%;
	transition: height 100ms ease-in-out, transform 100ms ease-in-out, transform 100ms ease-in-out;
}
.corner {
	position: absolute;
	height: 25px;
	transition: height 100ms ease-in-out, width 100ms ease-in-out;
}


.topLeft {
	top: 0;
	left: 0;
}
.topRight {
	top: 0;
	right: 0;
	transform: rotate(85deg);
}
.btmLeft {
	bottom: 0;
	left: 0;
	transform: rotate(265deg);
}
.btmRight {
	bottom: 0;
	right: 0;
	transform: rotate(180deg);
}

.cardBack:hover .corner {
	height: 30px;
}
.cardBack:hover .cube {
	/*height: 85px;*/
	transform: rotate(90deg);
	/*transform: translate(-7px, -8px);*/
}